
/*overwrite container width to fit in all viewport max-width<1160px */
@media (max-width:1160px){
.container{
    max-width: 100%;
}
}

@media (max-width: 768px){

    /* .container{
        max-width: 100%;
    } */

}

@media (max-width: 480px){

    .row{
        flex-wrap: wrap;
    }

    .row .col{
        padding-top: 25px;
        padding-bottom: 15px;
        width: 100%;
    }

    /* .lessons .col{
        width: 100%;
    } */

    .steps{
        margin:0;
    }

    /* .steps .col{
        width: 100%;
    } */

    .why-us{
        padding: 3em 0;
        margin-bottom: 0;
        background-color: #222222;
    }

    /* .why-us .col{
        width: 100%;
    } */

    h2{
        margin-bottom: 0rem;
    }

    h3{
        font-size:1.7rem;
    }

}